@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* Vous pouvez ajouter vos styles personnalisés ici */
@layer components {
  /* Styles personnalisés pour les composants Flowbite React */
}